In [1]:
import pandas as pd

In [2]:
import numpy as np

In [14]:
subs=pd.read_csv('subs.csv')
print(subs)
print(type(subs))

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [15]:
subs_=subs['Subscribers gained']
print(type(subs_))
print(subs_)

<class 'pandas.core.series.Series'>
0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [7]:
runs=pd.read_csv('kohli_ipl.csv')
type(runs)

pandas.core.frame.DataFrame

In [9]:
runs

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [11]:
runs_=pd.read_csv('kohli_ipl.csv').set_index('match_no')['runs']
type(runs_)

pandas.core.series.Series

In [16]:
movies=pd.read_csv('bollywood.csv')
movies

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [18]:
movies_=pd.read_csv('bollywood.csv').set_index('movie')['lead']
type(movies_)

pandas.core.series.Series

In [21]:
import sys

sys.getsizeof(runs_)

3472

In [24]:
sys.getsizeof(runs_.astype(np.int32))

2612

In [29]:
#between

print(runs_[runs_.between(90,120)])
runs_[runs_.between(90,120)].size

match_no
81      93
82      99
120    100
123    108
126    109
128    113
145     92
164    100
178     90
Name: runs, dtype: int64

9

In [32]:
#clip function just like we have in numpy

runs_.clip(lower=20,upper=100)

match_no
1      20
2      23
3      20
4      20
5      20
       ..
211    20
212    20
213    73
214    25
215    20
Name: runs, Length: 215, dtype: int64

In [34]:
#drop_duplicate will drop the duplicate values

a=pd.Series([1,1,2,2,2,3,3,4,4])
a.drop_duplicates()    #It always delete the first occurance

0    1
2    2
5    3
7    4
dtype: int64

In [37]:
a.drop_duplicates(keep='last')   #It is now keeping the last values

1    1
4    2
6    3
8    4
dtype: int64

In [42]:
#duplicated -> Will tell which values are duplicated. 

a.duplicated().sum()
#Total 5 duplicated values

np.int64(5)

In [45]:
runs_.isnull()

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [47]:
a=pd.Series([4,3,np.nan,12,17,np.nan])
print(a.isnull)

<bound method Series.isnull of 0     4.0
1     3.0
2     NaN
3    12.0
4    17.0
5     NaN
dtype: float64>

In [48]:
#Count always gives the values that are not null. It exclude the null values
#Whereas size include the null values

print(a.count())
print(a.size)

4
6

In [56]:
#isnull

a.isnull().sum()   #We will know the total number of missing values

np.int64(2)

In [57]:
#How to handle the missing values

#We have two ways to deal with the missing values
#1. dropna
#2. fillna

In [58]:
a.dropna()

0     4.0
1     3.0
3    12.0
4    17.0
dtype: float64

In [59]:
a.fillna(1)

0     4.0
1     3.0
2     1.0
3    12.0
4    17.0
5     1.0
dtype: float64

In [60]:
#We can fill the na values with any value

a.fillna(a.mean())

0     4.0
1     3.0
2     9.0
3    12.0
4    17.0
5     9.0
dtype: float64

In [ ]:
#isin

#If we want only those values where runs are either