In [1]:
import pandas as pd

In [2]:
import numpy as np

In [52]:
subs=pd.read_csv('subs.csv')
print(subs)
print(type(subs))

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [53]:
subs_=subs['Subscribers gained']
print(type(subs_))
print(subs_)

<class 'pandas.core.series.Series'>
0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [5]:
runs=pd.read_csv('kohli_ipl.csv')
type(runs)

pandas.core.frame.DataFrame

In [6]:
runs

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [7]:
runs_=pd.read_csv('kohli_ipl.csv').set_index('match_no')['runs']
type(runs_)

pandas.core.series.Series

In [8]:
movies=pd.read_csv('bollywood.csv')
movies

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [9]:
movies_=pd.read_csv('bollywood.csv').set_index('movie')['lead']
type(movies_)

pandas.core.series.Series

In [10]:
import sys

sys.getsizeof(runs_)

3472

In [11]:
sys.getsizeof(runs_.astype(np.int32))

2612

In [12]:
#between

print(runs_[runs_.between(90,120)])
runs_[runs_.between(90,120)].size

match_no
81      93
82      99
120    100
123    108
126    109
128    113
145     92
164    100
178     90
Name: runs, dtype: int64

9

In [13]:
#clip function just like we have in numpy

runs_.clip(lower=20,upper=100)

match_no
1      20
2      23
3      20
4      20
5      20
       ..
211    20
212    20
213    73
214    25
215    20
Name: runs, Length: 215, dtype: int64

In [14]:
#drop_duplicate will drop the duplicate values

a=pd.Series([1,1,2,2,2,3,3,4,4])
a.drop_duplicates()    #It always delete the first occurance

0    1
2    2
5    3
7    4
dtype: int64

In [15]:
a.drop_duplicates(keep='last')   #It is now keeping the last values

1    1
4    2
6    3
8    4
dtype: int64

In [16]:
#duplicated -> Will tell which values are duplicated. 

a.duplicated().sum()
#Total 5 duplicated values

np.int64(5)

In [17]:
runs_.isnull()

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [18]:
a=pd.Series([4,3,np.nan,12,17,np.nan])
print(a.isnull)

<bound method Series.isnull of 0     4.0
1     3.0
2     NaN
3    12.0
4    17.0
5     NaN
dtype: float64>

In [19]:
#Count always gives the values that are not null. It exclude the null values
#Whereas size include the null values

print(a.count())
print(a.size)

4
6

In [20]:
#isnull

a.isnull().sum()   #We will know the total number of missing values

np.int64(2)

In [21]:
#How to handle the missing values

#We have two ways to deal with the missing values
#1. dropna
#2. fillna

In [22]:
a.dropna()

0     4.0
1     3.0
3    12.0
4    17.0
dtype: float64

In [23]:
a.fillna(1)

0     4.0
1     3.0
2     1.0
3    12.0
4    17.0
5     1.0
dtype: float64

In [24]:
#We can fill the na values with any value

a.fillna(a.mean())

0     4.0
1     3.0
2     9.0
3    12.0
4    17.0
5     9.0
dtype: float64

In [31]:
#isin

#If we want only those values where runs are either 10 or 100

(runs_==48) | (runs_==50)

#But if I want to check whether kohli scored 17,34,50,112 or not, there are too many conditions I have to write
#Hence, we will use the isin condition

print(runs_.isin((112,34,17,50,94)))
runs_[runs_.isin((112,34,17,50,94))]

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

match_no
7      34
15     50
28     17
31     34
83     17
107    34
182    50
Name: runs, dtype: int64

In [33]:
#Apply Function - It helps in applying the custom logic on the series

#For example - If from the movie series, we want only the first name of the lead

movies_

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [36]:
movies_.apply(lambda x:x.split()[0])

movie
Uri: The Surgical Strike                  Vicky
Battalion 609                             Vicky
The Accidental Prime Minister (film)     Anupam
Why Cheat India                          Emraan
Evening Shadows                            Mona
                                         ...
Hum Tumhare Hain Sanam                     Shah
Aankhen (2002 film)                     Amitabh
Saathiya (film)                           Vivek
Company (film)                             Ajay
Awara Paagal Deewana                     Akshay
Name: lead, Length: 1500, dtype: object

In [39]:
#If I want the name in upper case
movies_.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [50]:
#If for a day, subs gained are more than average, then that day is good.
subs_

0        48
1        57
2        40
3        43
4        44
       ...
360    good
361    good
362    good
363    good
364    good
Name: Subscribers gained, Length: 365, dtype: object

In [54]:
subs_>subs_.mean()

0      False
1      False
2      False
3      False
4      False
       ...
360     True
361     True
362     True
363     True
364     True
Name: Subscribers gained, Length: 365, dtype: bool

In [56]:
subs_.apply(lambda x:"good" if x>subs_.mean() else "bad")

0       bad
1       bad
2       bad
3       bad
4       bad
       ...
360    good
361    good
362    good
363    good
364    good
Name: Subscribers gained, Length: 365, dtype: object

In [57]:
#Copy and View

#For example - 
a1=pd.Series([10,20,30,40,50,60])
a1

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [59]:
new=a1.head(3)
new

0    10
1    20
2    30
dtype: int64

In [61]:
#Now, let's say we want to change something in new
new.iloc[2]=300
new

0     10
1     20
2    300
dtype: int64

In [63]:
#Now , if we print() the a1
a1

0     10
1     20
2    300
3     40
4     50
5     60
dtype: int64

In [64]:
#As we call the a1. We can say that change in new, did the changes in a1.
#This is becaus  new is still pointing to the a1

new=a1.head(3).copy()
new.iloc[2]=600

In [66]:
a1

0     10
1     20
2    300
3     40
4     50
5     60
dtype: int64

In [67]:
new

#As we can see 600 still not updated.

0     10
1     20
2    600
dtype: int64

In [ ]:
#Also, Important thing to remember is -> head and tail, these funtions provides the view of the data not the copy.
#Hence, when we did the changes in new without copy, the changes also reflect in the a1 as well.